.DS_Store
node_modules
/build
/.svelte-kit
/package
.env
.env.*
!.env.example
vite.config.js.timestamp*
e2eresults.json
results.json
yarn.lock
.gitignore
.yarn/
tests/reportConvertor.js
.github/workflows/test-and-report.yml